*{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}

.clear:after{
	content:'';
	display:block;
	height:0;
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.nav1{
	margin:0 auto;
	width:1200px;
	height:42px;
	border:1px solid red;
}
.font{
	font:40px '宋体';
	text-align:center;
	width:180px;
	height:42px;
}
#h{
	height:40px;
}
.list1{
	margin-left:100px;
}
.l1{
	width:40px;
	height:20px;
	padding:9px 6px;
	border:2px;
	font:12px '宋体';
	margin-left:50px;
	line-height:20px;
	text-align:center;
}
.l1:hover{
	border-bottom:2px solid red;
}
.nav2{
	margin:0 auto;
	position:relative;
	width:1200px;
	height:500px;
}
.img1{
	width:1200px;
	height:500px;
	opacity:0.5;
}
.font1{
	font:40px '微软雅黑';
}
.red{
	color:red;
	font:bolder 100px '宋体';
}
.font1{
	position:relative;
	top:-250px;
	left:200px;
}
.nav3{
	margin:10px auto;
	width:1200px;
	height:40px;
	line-height:40px;
}
.font3{
	font:18px '宋体';
}
.a2:hover{
	color:#ccc;
}
.nav4{
	margin:5px auto;
	width:1200px;
	height:500px;
}
.l2{
	position:relative;
	margin:0 20px 0 0;
	width:560px;
	height:500px;
}
.img2{
	width:560px;
	height:500px;
}
.l3{
	position:relative;
	margin:0 0 20px 0;
	width:620px;
	padding:0;
	height:240px;
}
.img3{
	width:620px;
	height:240px;
}
.l4{
	position:relative;
	margin:0;
}
.p1{
	position:absolute;
	top:420px;
	height:80px;
	background-color:#ccc;
}
.a3{ 
	display:inline-block;
 line-height:0px;
}
 .p2{
 	position:absolute;
 	top:160px;
 	height:80px;
 	background-color:#ccc;
 }
 .p3{
 	position:absolute;
 	top:159px;
 	height:80px;
 	background-color:#ccc;
 }
.nav5{
	width:1200px;
	height:40px;
	line-height:40px;
}
.indexes{
	height: 20px;
	display: flex;
	position: absolute;
	bottom: 10px;
}
.indexes li{
	background: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 3px;
}
.indexes li.active{
	background: blue;
}
.arrow{
	width: 30px;
	height: 50px;
	background: deeppink;
	position: absolute;
}
.arrow.arrow-left{
	left: 180px;
}
.arrow.arrow-right{
	right: 180px;
}
#box1{
	display:none;
}

.font{
	font:18px '宋体';
	width:88px;
	height:20px;
	color:#ccc;
}
.clS{
	border:0px none;
	height:20px;
	width:200px;
	outline:none;
}
.d{
	padding:23px;
	border:1px #ccc solid;
	width:300px;
}
#btn{
	width:348px;
	height:67px;
	font:26px '宋体';
	color:white;
	background-color: red;
}
.d1{
	height:42px;
	width:348px;
	font:15px '宋体';
	color:#ccc;
	line-height:42px;
}
.ald{
	margin:150px;
	width:348px;
	height:500px;
}
#id3{
	margin-top:150px;
	height:200px;
	width:200px;
	color:red;
	font:18px '宋体';
}
#id4{
	padding-bottom:70px;
}
#id5{
	padding-bottom:70px;
}